{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База студентів{% endblock title %}

{% block content %}

<a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
<!-- Start Student List -->
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th><a href="">#</a></th>
			<th><a href="">Група &#8657;</a></th>
			<th><a href="">Староста</a></th>
			<th>Дії</th>
		</tr>
	</thead>
	{% for group in groups %}
	<tbody>
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a href="{% url "groups_edit" group.id %}">{{ group.groupa }}</a></td>
			<td><a href="{% url "groups_edit" group.id %}">{{ group.name }}</a></td>
			<td>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Дія
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_edit" 1 %}">Відвідування</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="/journal/1">Редагувати</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_delete" 1 %}">Видалити</a></li>
				  </ul>
				</div>
			</td>
		</tr>
	</tbody>
	{% endfor %}
</table>
<!-- End Student List -->
{% endblock %}